<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    
    <div class="container">
        <h1> focus pocus !</h1>
        <div class="stickers-20">
            <img id = '1' class="purple-star" src="../images/stickers/purple-star.png" alt="">
            <img id = '1' class="purple-star-2" src="../images/stickers/purple-star.png" alt="">
            <img id = '1' class="purple-star-3" src="../images/stickers/purple-star.png" alt="">
            <img id = '1' class="purple-star-4" src="../images/stickers/purple-star.png" alt="">
            <img id = '1' class="purple-star-5" src="../images/stickers/purple-star.png" alt="">
          </div>

        <!-- Input area for rewards -->
        <h3>current selected reward: <span class="selected-reward"> ???</span></h3>
        <h3>progress: <span id="current-points">0</span>/<span id="selected-points">100</span></h3>
        <span>
            <progress id="progress-bar" max="100" value="0">0%</progress>
        </span>
        <div id="reward-section">
            <span>
                <select id="reward-dropdown" class='reward-dropdown'>
                    <option value="" disabled selected>select a reward</option>
                </select>
            </span>

            <!-- section for controlling creation and hiding -->
            <div class = 'control-center'>
                <button id="create-new-reward-btn">create new rewards</button>
                <button id="close-new-reward-btn" class='hidden'>close reward creation</button>
                <button id="create-tasks-btn">create new tasks</button>
                <button id="close-creation-btn" class='hidden'>close task creation</button>
                <button id="financial-template-btn">financial to-do list template</button>
            </div>
            <div id='reward-maker' class='hidden'>

                <p>add the description of your reward, and then set how many points it's worth ! </p>
                <div class='new-reward'>
                    <input type="text" id="reward-name" placeholder="reward name" />
                    <input type="number" id="reward-points" placeholder="points" min="1" />
                    <button id="add-reward-btn" class="add-reward-btn">add new reward</button>
                </div>
            </div>




            <!-- Dropdown for selecting rewards -->
        </div>

        <!-- Input area for tasks -->
        <div id="task-section" class='hidden task-section'>
            <input type="text" id="task-name" placeholder="task name" />
            <select id="difficulty">
                <option value="" disabled selected>select difficulty</option>
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
            </select>
            <select id="urgency">
                <option value="" disabled selected>select urgency</option>
                <option value="urgent">urgent</option>
                <option value="non_urgent">non_urgent</option>
            </select>
            <p class='taskp'>start date:</p>
            <input type="date" id="start-date" value="">
            <p class='taskp'>end date:</p>
            <input type="date" id="end-date" />
            <button id="add-task-btn">add task</button>
        </div>


        <!-- Task list -->
        <h2>current to-do list</h2>
        <hr>
        <div class='flex-container'>
            <ul id="task-list"></ul>

        </div>
    </div>

    <div id="popup" class="popup hidden">
        <div class="popup-content">
            <span id="close-btn">&times;</span>
            <h1>congratulations!</h2>
                <h3>you’ve earned enough points to get: <span class="selected-reward"> </span></h3>
                <h3> go enjoy or set a new goal !</h3>
        </div>
    </div>

    <canvas id="confetti-canvas"></canvas>


    <script src="../static/script.js"></script>
</body>

</html>